@model IEnumerable<Book>
@{
    ViewData["Title"] = "GetAllBooks";
    ViewBag.ctl3 = "From view";
}
<div class="container">
    <h3 class="display-4">All books</h3>
    <div class="row">
        @foreach (Book book in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="" class="img-thumbnail" />
                    <div class="card-body">
                        <h3 class="card-title">@(string.IsNullOrEmpty(book.Title) ? "Name is not available" : book.Title)</h3>
                        <p class="card-text">@(string.IsNullOrEmpty(book.Description) ? "Description is not availabe" : book.Description)</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/book/getbook/@book.Id"
                                   class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <small class="text-muted">@(string.IsNullOrEmpty(book.Author) ? "NA" : book.Author)</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

