@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Book Store</h1>
    <environment names="Development">
        <h3>Dev Environment</h3>
    </environment>
    <environment names="Production">
        <h3>Prod Environment</h3>
    </environment>
</div>
