@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with and ASP.NET Core</a>.</p>
    @{
        int a = 10;
    }

    @if (a < 0)
    {
        <h1>hello from if block</h1>
    }
    else
    {
        <h1>hello from else block</h1>
    }
</div>
